/*类选择器的使用*/
.s1{
	background-color:pink;
	font-weight:bold;
	font-size:17px;
	color:black;
}
/*ID选择器的使用*/
#id1{
	background-color:silver;
	font-size:20px;
	color:black;
}
/*html选择器*/
body{
	color:orange;
}
a:hover{
	text-decoration:underline;
	font-size:40;
	color:green;
}
a:link{
	color=black;
	text-decoration:none;
	font-size:24px;
}
a:visited{
	color:red;
}
/*对同一种html元素进行分类*/
p.cls1{
	color:blue;
	font-size:30px;
}
p.cls2{
	color:red;
	font-size:20px;
}
/*通配符选择器*/
/*如果希望所有元素都符合某一种样式,可以使用通配符选择器.*/
*{
	margin-top:40px;
	margin-left:40px;
}
/*父子选择器*/
#id1 span{
	color:red;
	font-style:italic;
}
#id1 span span{
	color:green;
}