body{
	margin-top:0px auto;
	width:1000px;
	height:1000px;
}
/*最外层div*/
.div1{
	width:300px;
	border:1px solid green;
}
.span1{
	display: block;
}

.span1 a{
	float:right;/*float:right会导致浏览器不兼容,可以以用margin-left来控制*/
	margin-top:1px;
}
/*盒子的外观*/
.faceul{
	list-style-type:none;
	padding: 0px;
	margin-left:2px;
}
.faceul li{
	float:left;
	width:54px;
	height:52px;
	margin-left:2px ;
	text-align: center;
}

.faceul li img{
	width:52;
	height:50px;
}