*{
	margin:0px;
	padding:0px;
}
.div1{
	float:left;
	background:green;
	width:70px;
	height:30px;
	margin-left:5px;
	text-align:center;
}
#special{
	position:fixed;
	left:40px;
	top:100px;
	background: red;
}
.div2{
	/*如果div2没有脱离流,则内容2则根据body来定位.可以注释下面的position来测试*/
	position:relative;
	left:100px;
	top:100px;
	width:200px;
	height:150px;
	background: pink;
	float:left;
	margin-left:5px;
}
